* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    margin: 25px;
    width: 150px;
    height: 150px;
    background: green;
}

.block1 {
    margin: 25px;
    width: 150px;
    height: 150px;
    background: green;
}

.block2 {
    margin: 25px;
    width: 150px;
    height: 150px;
    background: green;
}